

nuiButton!
{
  ActivationOffset: 16;
}

@font Normal
{
  Name : "Helvetica";
  Size : 11;
  Bold : false;
}

@font NormalBold
{
  Name : "Helvetica";
  Size : 11;
  Bold : true;
}


"ButtonLabel"!
{
  TextColor: white;
  Font: Normal;
  HMargin: 0;
  VMargin: 0;
//  Position: Fill;
  TextPosition: Center;
//  BorderLeft: 18;
//  BorderRight: 18;
//  UseEllipsis: true;
}
"ButtonLabel"[Selected:false]
{
  TextColor: rgb(0,0,0);
}
"ButtonLabel"[Selected:true]
{
  TextColor: rgb(128,128,128);
}

@nuiFrame dButtonUP
{
  Color: rgb(128, 128, 128, 255);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
  UseWidgetFrameColor: true;
}
@nuiFrame dButtonDOWN
{
  Color: rgb(64, 64, 64, 255);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
}
@nuiFrame dButtonDISABLED
{
  Color: rgb(32, 32, 32, 255);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
}
@nuiStateDecoration dButton
{
  OnUp: dButtonUP;
	OnDown: dButtonDOWN;
  OnUpDisabled: dButtonDISABLED;
  OnDownDisabled: dButtonDISABLED;
}


"Button"!
{
  DecorationMode: Overdraw;
  Decoration: dButton;
  BorderLeft: 4;
  BorderRight: 4;
  BorderTop: 4;
  BorderBottom: 4;
//  BorderLeft: 8;
//  BorderRight: 8;
//  BorderTop: 8;
//  BorderBottom: 8;
}



////////////////////////////////////////////////////////////////////////////////
@nuiFrame dButtonLightUP
{
  Color: rgb(128, 128, 128, 255);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
  UseWidgetFrameColor: true;
}
@nuiFrame dButtonLightDOWN
{
  Color: rgb(64, 64, 64, 255);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
}
@nuiFrame dButtonLightDISABLED
{
  Color: rgb(32, 32, 32, 255);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
}
@nuiStateDecoration dButtonLight
{
  OnUp: dButtonLightUP;
	OnDown: dButtonLightDOWN;
  OnUpDisabled: dButtonLightDISABLED;
  OnDownDisabled: dButtonLightDISABLED;
}

"ButtonLight"!
{
  DecorationMode: Overdraw;
  Decoration: dButtonLight;
  BorderLeft: 4;
  BorderRight: 4;
  BorderTop: 4;
  BorderBottom: 4;
//  BorderLeft: 8;
//  BorderRight: 8;
//  BorderTop: 8;
//  BorderBottom: 8;
}


////////////////////////////////////////////////////////////////////////////////
@nuiFrame dButtonRelayUP
{
  Color: rgb(0, 128, 192, 255);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
  UseWidgetFrameColor: true;
}
@nuiFrame dButtonRelayDOWN
{
  Color: rgb(0, 128, 192, 128);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
}
@nuiFrame dButtonRelayDISABLED
{
  Color: rgb(0, 128, 192, 64);
	Texture: "rsrc:/images/8x8.png";
  ClientRect: "{ 3, 3, 2, 2 }";
	Interpolation: true;
}
@nuiStateDecoration dButtonRelay
{
  OnUp: dButtonRelayUP;
	OnDown: dButtonRelayDOWN;
  OnUpDisabled: dButtonRelayDISABLED;
  OnDownDisabled: dButtonRelayDISABLED;
}

"ButtonRelay"!
{
  DecorationMode: Overdraw;
  Decoration: dButtonRelay;
  BorderLeft: 4;
  BorderRight: 4;
  BorderTop: 4;
  BorderBottom: 4;
//  BorderLeft: 8;
//  BorderRight: 8;
//  BorderTop: 8;
//  BorderBottom: 8;
}


@nuiColorDecoration dMainView
{
  FillColor: rgb(255,255,255);
  ShapeMode: Fill;
}

"MainView"!
{
  DecorationMode: Overdraw;
  Decoration: dMainView;
//  Position: Fill;
}





